{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb", "prettier"],
  "plugins": ["@typescript-eslint"],
  "env": {
    "webextensions": true
  }
}
