name: Create release and upload artifact

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: 'Version to release (ex input. 1.2.3)'

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check version
        shell: bash
        run: |
          pattern="[0-9]+\.[0-9]+\.[0-9]+"
          [[ ${{ inputs.version }} ]] || { echo "input version is empty" ; exit 1; }
          [[ ${{ inputs.version }} =~ $pattern ]] || { echo "input version should be like '1.2.3'" ; exit 1; }
      - name: Check default branch
        if: always()
        shell: bash
        run: |
          ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }} || { echo "not default branch" ; exit 1; }

  build:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: 'package.json'

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> "$GITHUB_OUTPUT"

      - name: Setup pnpm cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Set github-actions bot config
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Set version in package.json and manifest.json
        run: |
          sed -i 's/"version": "[^"]*"/"version": "${{ inputs.version }}"/g' package.json src/static/manifest.json
          git add .
          git commit -m "Prepare release ${{ inputs.version }}"
          git tag v${{ inputs.version }}
          git push --atomic origin HEAD v${{ inputs.version }}

      - run: pnpm build
      - uses: montudor/action-zip@1379ea20d4c5705669ba81fd626dd01b1c738f26 # v1.2
        with:
          args: zip -qq -r v${{ inputs.version }}.zip dist

      - uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          name: v${{ inputs.version }}
          files: |
            LICENSE
            v${{ inputs.version }}.zip
          draft: true
          tag_name: v${{ inputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
